<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Resident Evil Complete Lore</title>
<link rel="stylesheet" href="assets/bulma/bulma.css">
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
<link href="assets/fontawesome/css/all.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="assets/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="assets/slick/slick-theme.css"/>
<link href="assets/css/normalize.css" rel="stylesheet"/>
<link href="assets/css/style.css" rel="stylesheet"/>
