<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head.html %}
  </head>
  <body id="page-top">
    <section class="hero is-dark is-medium">
      <!-- Hero head: will stick at the top -->
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <a class="navbar-item is-size-3" href="#">
                <span class="stylus-red">R</span>esident <span class="stylus-red">E</span>vil Lore <span id="brand">.</span>
              </a>
              <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenuHeroA" class="navbar-menu">
              <div class="navbar-end is-size-5">
                <span class="navbar-item">
                 <a class="button">
                   <span class="icon">
                      <i class="fab fa-github"></i>
                  </span>
                    <span>GitHub</span>
                 </a>
               </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-hidden-mobile is-5">
              <h1 class="title">
                Prologue
              </h1>
              <h2 class="subitle is-size-5">
                Origin of the Progenitor Virus and Umbrella.
              </h2>
              <button class="button is-warning mt-6">Start Reading!</button>
            </div>
            <div class="column has-text-centered is-hidden-desktop">
              <h1 class="title">
                Prologue
              </h1>
              <h2 class="subitle is-size-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas felis turpis, laoreet eget diam vitae, molestie ultricies justo. Nullam et tristique est.
              </h2>
              <button class="button is-warning mt-6">Start Reading!</button>
            </div>
              <div class="column">
                <figure class="image is-hidden-mobile ">
                  <img src="images/sungarden.svg">
                </figure>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Start Hero Carousel -->
    <section class="hero is-medium">
      <div class="hero-body slick-slider">
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#"  style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  Natura<span class="stylus-red">l</span> History<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                In the 19th century, Henry Travis found a rare flower in west africa in the kijuju region known as the stairway of the sun.
                Legends say that whoever consumed the flower and survived its effects was granted superhuman abilities.
              </h2>
            </div>
            <div class="column">
              <figure class="image">
                <img src="images/stairway-to-the-sun.svg">
              </figure>
            </div>
            <div class="column">
              <figure class="image is-hidden-mobile">
                <img src="images/henry-travis.svg">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  Dar<span class="stylus-red">k</span> Ambitions<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                In the 1960s, three virologists and longtime friends, Edward Ashford, Ozwell E. Spencer and James Marcus rediscovered the flowers in West Africa.
                Spencer had plans of his own where he had the vision to remake the world creating a superior race of humans and make himself as his ruler.
              </h2>
            </div>
            <div class="column">
              <figure class="image is-hidden-mobile">
                <img src="images/3friends.svg">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
                <img src="images/ozwell-spencer.svg">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  Patien<span class="stylus-red">t</span> Zero<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                Upon the completion of the mansion in 1967, Spencer realised that Trevor was aware of the laboratory
                and knew too much and began making plans for disposing him.
                Trevor was busy with work at the time and sends his wife and daughter, Jessica and Lisa.
                Jessica and Lisa suffer as test subjects. Spencer's scientists creats two variations of the Progenitor Virus.
              </h2>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  Umbrell<span class="stylus-red">a</span> Corporation<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                In 1968, Ozwell E. Spencer creates the Umbrella Corporation which would initially operate in the pharmaceutical
                sector with his headquarters established in Europe.
                A Umbrella Executive Training Facility  is established in Raccoon City,
                in the Arklay Mountains, to train scientists and special employees for
                Umbrella and Marcus as its director. Soon after the creation of Umbrella, Edward Ashford
                dies due to exposure of the Progenitor Virus.
              </h2>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  Projec<span class="stylus-red">t</span> Code Veronica<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                Edward's son, Alexander Ashford,
                continues his father's research and
                uses his knowledge in genetics engineering
                and orders the construction of a Antartic Installation,
                where he would work in a private project
                without Spencer awareness called Project Code: Veronica.
                He fertilizes an egg with various genetic
                improvements in the attempt of cloning the matriarch Veronica Ashford. The Project in
                concluded in 1971 and two twins are born: Alexia and Alfred.
              </h2>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  Spence<span class="stylus-red">r</span> Secret Project<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                Spencer begins his secret research inside of Umbrella named Project W
                (or Project Wesker), where hundred of children born from parents with "superior intellect" would be collected for the experiment.
                Years later, the Wesker Children, received a new dose of an prototype virus based in the Progenitor.
                Many died but among the few survivors is a young boy called Albert Wesker .
              </h2>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  The <span class="stylus-red">P</span>rodigies<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                James Marcus while working obsessively on the
                Progenitor Research in the executive training facility, entered in
                disagreement with Spencer due to his work not bringing results and making
                 high expenses to the company.

                In September 1977, 2 young scientists joined the training facility research team:
                 William Birkin and Albert Wesker. They are hired to trained virology as personal assistents of James Marcus.
              </h2>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
          </div>
        </article>
        <article class="tile is-child notification is-cream">
          <div class="columns">
            <div class="column">
              <a href="#" style="text-decoration: none;">
                <h1 class="title has-text-dark">
                  <span class="stylus-red">T</span>-Virus<span class="stylus-red">.</span>
                </h1>
              </a>
              <h2 class="subtitle pt-4 has-text-dark mt-5">
                In September 1978, Marcus finally was able to create a stable variant of the Progenitor,
                he names it Tyrant virus or T-virus for short, which was capable of causing mutation in a cellular level. Spencer
                finds out about the discovery and was able to acquire a sample which was later sent to the European division for studies.
              </h2>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
            <div class="column">
              <figure class="image">
              </figure>
            </div>
          </div>
        </article>
      </section>
		<!-- End Hero Carousel -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Developed</strong> by <a href="https://github.com/thypirate" target="_blank">Thypirate</a>.
        </p>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/slick/slick.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
